<body>
    <div class="container">
    <form [formGroup]="activity_form" (ngSubmit)="onSubmit()">
        <div class="form">
          <label class="form-fieldset ui-input">
            <span>Activity Name</span>
            <input formControlName="activity" name = "activity" placeholder="Activity">
          </label>
        </div>
        <div>
          <label class="form-fieldset ui-input">
            <span>Date</span>
            <input formControlName="date" type="date" name="date" placeholder="Date">
          </label>
        </div>
        <div class="form-footer">
        <button class="btn" type="submit"[disabled]="!activity_form.valid" >{{title}}</button>
        </div>
      </form>
    </div>
    <script>
        
    var $input = $('.form-fieldset > input');
    
    $input.blur(function (e) {
      $(this).toggleClass('filled', !!$(this).val());
    });
    </script>
    </body>
