@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600&subset=latin-ext');
input {
  background-color: #263F56;
    border-radius: 6px;
    width: 45vw;
    margin: 10px;
    color: #ffffff;
    font-size: 0.95vw;
    padding: 0.3vw;
}

.btn{
  
    padding: 6px;
    background: linear-gradient(101.68deg, #FFAFCC -70%, #A2D2FF 131.87%);
    border-radius: 8px;
}

span {
  font-size:30px;
  font-weight:bold;
  font-family: 'Playfair Display', serif;
  align-items: center;
  justify-content: center;
  flex-items: center;
}