.top{
    margin-bottom: 30vh;
    padding-top: 5rem;
    margin-left: calc(-5.5rem);
}

.bottom{
    margin-top: 26.05vh;
    padding-bottom: 2rem;
    margin-left: calc(-5.5rem);
}

.icons{
    display: block;
    margin: 0 2vw;
}

li a{
    padding: 1vh 0;
}

li a span{
    margin-top: 0.5rem;
    font-size: 1.15rem;
    font-weight: 700;
}

li a i{
    font-size: 1.15rem;
    font-weight: 700;
}
