<div class="container-fluid">
    <div class="row">
        <div class="col">
            <ul class="nav-list sidebar static d-flex flex-column">
               <div class="top">
                <li>
                    <a href="" routerLink="/dashboard" class="d-flex flex-row justify-content-center align-items-center px-3 mx-4 report">
                        <i class="fas fa-chart-line icons"></i>
                        <span class="links_name">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/project" class="d-flex flex-row justify-content-center align-items-center px-3 mx-4">
                        <i class="fas fa-list icons"></i>
                        <span class="links_name">Projects</span>
                    </a>
                </li>
                <li>

                    <a routerLink="/activity" class="d-flex flex-row justify-content-center align-items-center px-3 mx-4">
                        <i class="fas fa-star icons"></i>
                        <span class="links_name">Activity</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/report" class="d-flex flex-row justify-content-center align-items-center px-3 mx-4">
                        <i class="fas fa-star icons"></i>
                        <span class="links_name">Reports</span>

                    </a>
                </li>
                <li>
                    <a routerLink="/reviews" class="d-flex flex-row justify-content-center align-items-center px-3 mx-4">
                        <i class="fas fa-star icons"></i>
                        <span class="links_name">Reviews</span>
                    </a>
                </li>
               </div>
                <div class="bottom">
                    <li>
                        <a routerLink="/landingpage" class="d-flex flex-row justify-content-center align-items-center px-3 mx-4" >
                            <i class="fas fa-sign-out-alt icons"></i>
                            <span class="links_name" id="log_out">Logout</span>
                        </a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</div>

