<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <title>Side Navbar</title>
</head>

<body>
    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <i class="fas fa-clock"></i>
                <div class="logo-name">TIME TRACKER</div>
            </div>
            <i class="fas fa-bars" id="btn"></i>
            <ul class="nav-list">
                <li>
                    <a href="">
                        <i class="fas fa-grid-horizontal"></i>
                         <span class="links_name">Dashboard</span>
                    </a>  
                </li> 
                <li>
                    <a href="">
                        <i class="fas fa-list"></i> 
                        <span class="links_name">Projects</span>
                    </a>  
                </li>  
                <li>
                    <a href="">
                        <i class="fas fa-chart-line"></i>
                        <span class="links_name">Report</span>
                    </a>  
                </li>  
                <li>
                    <a href="">
                        <i class="fas fa-star"></i>
                        <span class="links_name">Reviews</span>
                    </a>  
                </li> 
                <li>
                    <a href="">
                        <i class="fas fa-sign-out-alt"></i>
                        <span class="links_name" id="log_out">Logout</span>
                    </a>  
                </li>  
            </ul>  
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>

</body>

</html>