<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-2">
            <ul class="nav-list sidebar">
                <li>
                    <a routerLink="/project">
                        <i class="fas fa-list"></i>
                        <span class="links_name">Projects</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fas fa-chart-line"></i>
                        <span class="links_name">Report</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/reviews">
                        <i class="fas fa-star"></i>
                        <span class="links_name">Reviews</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/landingpage" >
                        <i class="fas fa-sign-out-alt"></i>
                        <span class="links_name" id="log_out">Logout</span>
                    </a>
                </li>
            </ul>
        </div>

