<form [formGroup]="project_form"  (ngSubmit)="onSubmit()">
  <h3>{{title}}</h3>
  <div class="form-group">
    <label for = "description">Description of project</label>
   <input type="text" id="description" name="description" placeholder="Description" formControlName="description" required>
  </div>
  <div class="form-group">
    
    <label for = "time_interval">Time interval</label>
    <input type="text" id="time_interval" name="time_interval" formControlName="time_interval"  required>
  </div>

  <div class="form-group">
    <label for = "break_interval">Break Time</label>
    <input type="text" id="description" name="break_interval" formControlName="break_interval"  required>
  </div>

  <div class="form-group">
    <label for = "activity">Select Activity</label>
    <input type="text" id="activity" name="activity" formControlName="activity" required>

  </div>

   <button class="form-buttons" (click)="clearInput()" type="button">Cancel</button>
   <button class="form-buttons" type="submit" [disabled]="!project_form.valid">Add</button>
</form>