<form [formGroup]="project_form"  (ngSubmit)="onSubmit()">
  <h3 class="mt-2">{{title}}</h3>

  <div class="form-group">
    <label for = "description">Description of project</label>
   <input type="text" id="description" name="description" placeholder="Description" formControlName="description" required>
  </div>
  
  <div class="form-group">
    
    <label for = "time_interval">Time interval(20-60mins)</label>
    <input type="number" min="20" max="60" id="time_interval" name="time_interval" formControlName="time_interval"  required>
  </div>

  <div class="form-group">
    <label for = "break_interval">Break Time</label>
    <input type="number" id="break_interval" name="break_interval" formControlName="break_interval"  required>
  </div>

  <div class="form-group">
    <label for = "activity">Select Activity</label>
    <select  id="activity" name="activity" formControlName="activity" required>
      <option value="meditation" selected>Meditation  </option>
      <option value="stretch">Stretch</option>
      <option value="run">Run</option>
      <option value="take a walk">Take A walk</option>
      <option value="listen to music">Listen to music</option>
      <option value="take a glass of water">Take a glass of water</option>
      </select>
  </div>

  
    <div class="btns d-flex justify-content-between p-3">
      <button class="form-buttons" (click)="clearInput()" type="button">Cancel</button>
      <button class="form-buttons" type="submit" [disabled]="!project_form.valid">Add</button>
    </div>
  
  </form>
</div>