<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="grid grid-cols-2">
    <div class="row flex flex-col justify-center items-center m-auto mt-8">
      <div class="col-md-6">
        <div class="card">
          <div class="text-center">
            <h1>Login</h1>
            <h6>Please fill in the details</h6>
          </div>
          <form class="mx-auto">
            <form>
              <div class="mb-3">
                <label for="email" class="block text-sm font-medium text-black-700">Email address</label>
                <input type="email" name="email"  id="email" autocomplete="email" required class="border border-gray-300 px-3 py-2 rounded-lg shadow-sm focus:outline-none focus:border-indigo-500 focus:ring focus:ring-indigo-50" >
              </div>
              <div class="mb-3">
                <label for="password" class="block text-sm font-medium text-black-700">Password</label>
                <input type="password" required class="border border-gray-300 px-3 py-2 rounded-lg shadow-sm focus:outline-none focus:border-indigo-500 focus:ring focus:ring-indigo-50" id="password">
              </div>
              <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Login
              </button>
            </form>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
  
</body>
</html>

