
  <div *ngIf="show" id="id01" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-container">
        <span (click)="displayForm()"
        class="w3-button w3-display-topright">&times;</span>
        <!-- <span onclick="document.getElementById('id01').style.display='none'"
        class="w3-button w3-display-topright">&times;</span> -->

        <app-project-form [title]="formTitle" [title]="formTitle" #project_form></app-project-form>

        <!-- <app-project-form [title]="formTitle" [title]="formTitle"></app-project-form> -->

      </div>
    </div>
  </div>

  <div *ngIf="show2" id="id02" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-container">
        <span (click)="displayForm2()"
        class="w3-button w3-display-topright">&times;</span>
        <!-- <span onclick="document.getElementById('id01').style.display='none'"
        class="w3-button w3-display-topright">&times;</span> -->
        <!-- <app-project-summary></app-project-summary> -->
      </div>
    </div>
  </div>




<table class="table-auto"  >
    <thead>
      <tr>
        <th>I</th>
        <th>Project</th>
        <th>Working Interval</th>
        <th>Start</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects; let i = index" [ngClass]="checkIndex(project.id)"  >
        <td>{{i+1}}</td>
        <td (click)="displayForm2()">{{project.description}}</td>
        <td> {{project.time_interval}} minutes</td>
        <td (click)="startCountdown(project.id, project.time_interval, project.break_interval, project.description)"><i class="fas fa-play" *ngIf="!changeButton(project.id)" ></i><i class="fa fa-pause" *ngIf="changeButton(project.id)"></i></td>
        <td (click)="editProject(project.id)"><i class="fas fa-edit"></i></td>
        <td (toDelete)='deleteProjectNow(project.id)' (click)="deleteProject(project.id)"><i class="fa-solid fa-circle"></i></td>
      </tr>
      <tr *ngIf="lastProject.time_interval>0">
        <td> {{projects.length+1}}</td>
        <td (click)="displayForm2()">{{lastProject.description}}</td>
        <td> {{lastProject.time_interval}} minutes</td>
        <td (click)="startCountdown(lastProject.id, lastProject.time_interval)"><i class="fas fa-play"></i></td>
        <td (click)="editProject(lastProject.id)"><i class="fas fa-edit"></i></td>
        <td (toDelete)='deleteProjectNow(lastProject.id)' (click)="deleteProject(lastProject.id)"><i class="fa-solid fa-circle"></i></td>
      </tr>
    </tbody>
  </table>

