#id01,#id02{
    display: block;
}

table{
    box-sizing: border-box;
    width: 65vw;
    margin-top: 2.5vh;
    padding: 1vw !important;
    border: 0.0625rem solid #000000;
    border-radius: 0.5rem 0.5rem 0 0 !important;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 0.15rem 0.3rem 0rem rgba(0,0,0,0.2);
}

thead{
    background: rgba(205, 180, 219, 0.4);
    /* border: 0.125rem solid #000000; */
}

thead tr{
    border-radius: 0.5rem 0.5rem 0 0 !important;
    padding: 2vw 0.5vw !important;
    border-bottom: 0.08125rem solid #000000;
}

tbody{
    background: rgba(189, 224, 254, 0.541) !important;
}

tbody tr{
    border-bottom: 0.03125rem solid #000000;
}

thead tr th, tbody tr td{
    text-align: center !important;
    margin: 0 !important;
    padding: 0.8vw 0.5vw 0.5vw 0.5vw;
}
.activeproject {
    background: white;
}