@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=EB+Garamond:ital@1&family=Gulzar&display=swap');
* {
    font-family: 'Cormorant Garamond', serif;
    font-family: 'EB Garamond', serif;
    font-family: 'Gulzar', serif;
}