<div class="container-fluid">
   <div class="row">
       <div class="col-md-2" style="background-color: #ffffff; min-height: 100vh;">
           <app-navbar></app-navbar>
       </div>
       <div class="col-md-10" id="content">
           <div id="nav" class="d-flex justify-content-center ">
               <nav class="navbar navbar-expand-lg bg-transparent">
                   <div class="container-fluid">
                       
                       <div class="collapse navbar-collapse" id="navbarText">
                           <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                               <li class="nav-item">
                                   <a class="nav-link active" aria-current="page" href="#"></a>
                               </li>
                           </ul>
                           <span class="navbar-text">


                            <button class="w3-button btn addproject" >Add Project</button>
                                <button onclick="document.getElementById('id01').style.display='block'"
                               class="w3-button btn addproject" >Add Project</button> 
                            </span>

                       </div>
                   </div>
               </nav> 
           </div>
           <div class="rev-content">
                <div class="testimonials">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active style-rev">
                            <div class="single-review">
                                <div class="image"></div>
                                <div class="img-content">
                                    <h3 class="rev-name">Odion Ighalo</h3>
                                    <h5 class="occupation">DevOps</h5>
                                    <div class="rev-stars">
                                        <i class="fas fa-star icons"></i>
                                        <i class="fas fa-star icons"></i>
                                        <i class="fas fa-star icons"></i>
                                        <i class="fas fa-star icons"></i>
                                        <i class="fas fa-star icons"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="single-review">
                                <div class="image"></div>
                                <div class="img-content">
                                    <h3 class="rev-name">Odion Ighalo</h3>
                                    <h5 class="occupation">DevOps</h5>
                                    <div class="rev-stars">
                                        <i class="fas fa-star icons"></i>
                                        <i class="fas fa-star icons"></i>
                                        <i class="fas fa-star icons"></i>
                                        <i class="fas fa-star icons"></i>
                                        <i class="fas fa-star icons"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="single-review">
                                <div class="image"></div>
                                <div class="img-content">
                                    <h3 class="rev-name">Odion Ighalo</h3>
                                    <h5 class="occupation">DevOps</h5>
                                    <div class="rev-stars">
                                        <i class="fas fa-star icons"></i>
                                        <i class="fas fa-star icons"></i>
                                        <i class="fas fa-star icons"></i>
                                        <i class="fas fa-star icons"></i>
                                        <i class="fas fa-star icons"></i>
                                    </div>
                                </div>
                            </div>
                          </div>
                           <div class="carousel-item">
                            <img src="..." class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="..." class="d-block w-100" alt="...">
                          </div> -->
                       </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
                <div class="rev-stats">
                    <div class="overview">
                        <div class="first">
                            <h1>Overview</h1>
                            <span>{{ totalUsers }} users</span>
                        </div>
                        <div class="second">
                            <div class="align">
                                <h2>Efficiency</h2>
                                <span>{{ efficiency }}%</span>
                            </div>
                            <div class="align">
                                <h2>Experience</h2>
                                <span>{{ experience }}%</span>
                            </div>
                            <div class="align">
                                <h2>Productivity</h2>
                                <span>{{ productivity }}%</span>
                            </div>
                        </div>
                    </div>

                    <div class="thoughts">
                        <div class="share">
                            <h2>Share your thoughts</h2>
                            <button>Add Review</button>
                        </div>
                        <div class="subscribe">

                        </div>
                    </div>

                </div>
           </div>
       </div>
   </div>
  </div> 
 

