<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Reviews</title>
  <link rel='stylesheet' type='text/css' media='screen' href='./reviews.component.css'>
  <link rel='stylesheet' type='text/css' media='screen' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' type='text/css' media='screen' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'>
</head>
<body>
<div class="rev-section">
   
   <h2 class="title">User Reviews</h2>
   <p class="note">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil laboriosam possimus perferendis non error neque.</p>
   
   <div class="reviews">
   
      <div class="review">
      <div class="head-review">
         <img src="https://images.unsplash.com/photo-1488161628813-04466f872be2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80" width="250px">
      </div>
      <div class="body-review">
         <div class="name-review">Nathan D.</div>
         <div class="place-review">DevOps</div>
         <div class="rating">
            <button btn sm>
               <a routerLink="/rating-form">App Rating</a>
               </button>
         </div>
         
      <div class="desc-review">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati eligendi suscipit illum officia ex eos.</div>
      </div>
      <br> 
      </div>
   </div>
</div>

<div class="subscription-section">
   <div id="container">
      <div class="container-fluid">
         <h2>Overview</h2>
         <div class=”row”>
            <div class=”column”> Efficiency</div>. 
            <div class=”column”> Experience. </div>
            <div class=”column”> Productivity. </div>
            </div> 
      </div>
   </div>
   <br>
   <div id="container">
      <h2>Subscribe</h2>
         <p>Stay updated with our newsletter</p>
            <form>
               <input type="email" placeholder="Type your Email" required>
                     <br>
               <button>Subscribe</button>
            </form>
      </div>

</div>



</body>
</html>

  