
body{
  background: rgba(205, 180, 219, 0.4);
  width: 25vw;
  height: 30vh;
  padding: 0 1vw 1.3vh 0 !important;
  border-radius: 1rem;
   
}
.h1 {
font-size: 70px;
}
.h8 {
  font-size: 30px;
}

h2 {
  font-family: 'PT Sans', sans-serif !important;
}


.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.focus{
  padding-top: 2vh;
  font-size: 2.2vw;
  font-weight: 700;
}

.counttime h4{
  margin-top: 1vh;
  font-size: 3.5vw;
  font-weight: 700;
}

.btn {
  padding: 0;
}

/* play and reset icons */
.fa-play {
  border: 2px solid transparent;
  padding: 1rem;
  border-radius: 2rem;
}

.fa-play:hover, .fa-redo-alt:hover {
  color: #bae8e8;
  border: 2px solid #bae8e8;
  transition: 0.3s ease;
}