<body onload="template()">
  <div class="container" id="container">
    <!-- Heading -->
    <!-- <h1 class="text-center my-5 heading">Pomodoro App</h1> -->
    <!-- Main Timer -->
    <!-- <h1>{{InputtedTime}}</h1> -->
    <div class="flex focus">
      <h2>Focus Time</h2>
    </div>
    <!-- <div class="flex counttime">
      <h4 id="minutes"></h4>
      <h4>:</h4>
      <h4 id="seconds"></h4>
    </div>
    <div class="">
      <h3 id="done" class="text-center"></h3>
    </div> -->

    <div class="text-center">
      <!-- <input [(ngModel)]="inputtedTime"> -->
      <h1 class="h1">{{InputtedTime}}:00</h1>
    <i class="fas fa-play fa-2x" ng-click="toggle()" ng-hide="pause"></i> 
      <i class="fas fa-pause fa-2x" ng-click="toggle()" ng-hide="!pause"></i>
      
    </div>
  

  </div>
</body>


<!-- <div class="flex-btnn">
 <div class="flex bttn">
 <button class="btn"> 
  <i class="fas fa-play fa-2x" *ngIf="paused"  ></i>
  <i class="fas fa-pause fa-2x" *ngIf="!paused" ></i>
</button>
 <a href=""><i class="fas fa-redo-alt fa-2x"></i></a> 

</div> 
</div> -->