<body onload="template()">
    <div class="container" id="container">
      <!-- Heading -->
      <!-- <h1 class="text-center my-5 heading">Pomodoro App</h1> -->
      <!-- Main Timer -->
      <div class="flex focus">
        <h2>Focus Time</h2>
      </div>
      <div class="flex counttime">
          <h4 id="minutes"></h4>
          <h4>:</h4>
          <h4 id="seconds"></h4>
      </div>

      <div class="">
        <h3 id="done" class="text-center"></h3>
      </div>

      <div class="flex bttn">
        <button class="btn" onclick="start_timer()">
          <i class="fas fa-play fa-2x"></i>
        </button>
        <a href=""><i class="fas fa-redo-alt fa-2x"></i></a>
      </div>
    </div>
  </body>