<body onload="template()">
    <div class="container">
      <!-- Heading -->
      <!-- <h1 class="text-center my-5 heading">Pomodoro App</h1> -->

      <!-- Main Timer -->
      <div class="container timer">
        <div class="row">
          <div class="col-5">
            <h4 id="minutes"></h4>
          </div>
          <div class="col-2">
            <h4>:</h4>
          </div>
          <div class="col-5">
            <h4 id="seconds"></h4>
          </div>
        </div>
      </div>

      <!-- Finished Message -->
      <div class="my-5">
        <h3 id="done" class="text-center"></h3>
      </div>

      <!-- Start Button and reset button-->
      <div class="conatiner d-flex justify-content-center my-5">
        <button class="btn" onclick="start_timer()">
          <i class="fas fa-play fa-2x"></i>
        </button>
        <a href=""><i class="fas fa-redo-alt fa-2x"></i></a>
      </div>
    </div>
  </body>