
body {
    background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}

#countdownTimer {
    color: black;
    font-size: 3rem;
    font-weight: 800;
}
.btnsound {
    border-radius: 2rem;
    height: 30px;
    width: 100px;
}